.WardDisp
{
    background-image: url("file://{images}/items/ward_dispenser.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.WardDispSent
{
    background-image: url("file://{images}/items/ward_dispenser_sentry.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

/* .DavyJones */
.npc_dota_hero_kunkka
{
    background-image: url("file://{images}/portrait/davy_jones.png");
    overflow: clip;
    /* min-width: 40px;
    min-height: 40px;
    visibility: collapse; */
}

.DavyJones
{
    background-image: url("file://{images}/portrait/davy_jones.png");
    overflow: clip;
    z-index: 0;
}

.AvaloreBackpack
{
    wash-color: none;
}

/**********************************************************************************
 * These Don't Get Used => they are just here to force the engine to pull them in
 * so they can be used in JavaScript
 **********************************************************************************/

.HeadSlot
{
    background-image: url("file://{images}/ui/slot_head.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.ChestSlot
{
    background-image: url("file://{images}/ui/slot_chest.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.AccessorySlot
{
    background-image: url("file://{images}/ui/slot_back.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.HandsSlot
{
    background-image: url("file://{images}/ui/slot_hands.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.FeetSlot
{
    background-image: url("file://{images}/ui/slot_feet.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}

.TrinketSlot
{
    background-image: url("file://{images}/ui/slot_trinket.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}


.MiscSlot
{
    background-image: url("file://{images}/ui/slot_misc.png");
    background-size: 40px;
    min-width: 40px;
    min-height: 40px;
    visibility: collapse;
}
