# Valve Generated Stuff
*.bin
*.cfg
*.soc
*.tmp

# Compiled
*.vmat_c
*.vagrp_c
*.vmesh_c 
*.vpcf_c
*.vtex_c
*.vmdl_c
*.vsndevts_c
*.vsnd_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vmdl_c

# Scans
/.scannerwork

# Wiki
/wiki/docker-compose.yml
/wiki/LocalSettings.php
/wiki/wikidata/*
/wiki/dbdata/*
